<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjian.likes.mapper.LikesMapper">
    
    <resultMap type="Likes" id="LikesResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="targetType"    column="target_type"    />
        <result property="targetId"    column="target_id"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectLikesVo">
        select id, user_id, target_type, target_id, created_at from likes
    </sql>

    <select id="selectLikesList" parameterType="Likes" resultMap="LikesResult">
        <include refid="selectLikesVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="targetType != null  and targetType != ''"> and target_type = #{targetType}</if>
            <if test="targetId != null "> and target_id = #{targetId}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectLikesById" parameterType="Long" resultMap="LikesResult">
        <include refid="selectLikesVo"/>
        where id = #{id}
    </select>

    <insert id="insertLikes" parameterType="Likes" useGeneratedKeys="true" keyProperty="id">
        insert into likes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="targetType != null and targetType != ''">target_type,</if>
            <if test="targetId != null">target_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="targetType != null and targetType != ''">#{targetType},</if>
            <if test="targetId != null">#{targetId},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateLikes" parameterType="Likes">
        update likes
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="targetType != null and targetType != ''">target_type = #{targetType},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLikesById" parameterType="Long">
        delete from likes where id = #{id}
    </delete>

    <delete id="deleteLikesByIds" parameterType="String">
        delete from likes where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>