<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjian.testt.mapper.TesttMapper">
    
    <resultMap type="Testt" id="TesttResult">
        <result property="id"    column="id"    />
        <result property="imagePath"    column="image_path"    />
        <result property="content"    column="content"    />
        <result property="createdAt"    column="created_at"    />
        <result property="title"    column="title"    />
        <result property="fileUrl"    column="file_url"    />
    </resultMap>

    <sql id="selectTesttVo">
        select id, image_path, content, created_at, title, file_url from testt
    </sql>

    <select id="selectTesttList" parameterType="Testt" resultMap="TesttResult">
        <include refid="selectTesttVo"/>
        <where>  
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
        </where>
    </select>
    
    <select id="selectTesttById" parameterType="Long" resultMap="TesttResult">
        <include refid="selectTesttVo"/>
        where id = #{id}
    </select>

    <insert id="insertTestt" parameterType="Testt" useGeneratedKeys="true" keyProperty="id">
        insert into testt
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imagePath != null">image_path,</if>
            <if test="content != null">content,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="title != null">title,</if>
            <if test="fileUrl != null">file_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imagePath != null">#{imagePath},</if>
            <if test="content != null">#{content},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="title != null">#{title},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
         </trim>
    </insert>

    <update id="updateTestt" parameterType="Testt">
        update testt
        <trim prefix="SET" suffixOverrides=",">
            <if test="imagePath != null">image_path = #{imagePath},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="title != null">title = #{title},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTesttById" parameterType="Long">
        delete from testt where id = #{id}
    </delete>

    <delete id="deleteTesttByIds" parameterType="String">
        delete from testt where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>